@model IEnumerable<ConfigurationWebShopDemo.Models.Configurations>
@{
    ViewData["Title"] = "ConfigurationsView";
}

<div class="container p-3">
    @if( Model.Count() >0)
            {
<<<<<<< HEAD
                <table class="table table-bordered table-striped" style="width:100%">
                    <thead style="color: white; text-align:center">
                        <tr>
                            <th>
                                Motherboard Name
                            </th>
                            <th>
                                SSD
                            </th>
                            <th>
                                HDD
                            </th>
                            <th>
                                RAM
                            </th>
                            <th>
                                CPU
                            </th>
                            <th>
                                GPU
                            </th>
                            <th>
                                Sound Card
                            </th>
                            <th>
                                WWAN Card
                            </th>
                            <th>
                                Computer Case
                            </th>
                            <th>
                                Price
=======
                <table class="table table-bordered table-striped" style="width:100%" color ="white">
                    <thead>
                        <tr>
                            <th style="color:white">
                                Configuration ID
                            </th>
                            <th style="color:white">
                                CPU
                            </th>
                            <th style="color:white">
                                GPU
                            </th>
                            <th style="color:white">
                                RAM
                            </th>
                            <th style="color:white">
                                HDD
                            </th>
                            <th style="color:white">
                                SSD
                            </th>
                            <th style="color:white">
                                Motherboard
>>>>>>> 9fa8b074ccaae3bc6d8f9b836f2ed453aed2fd39
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach(var obj in Model)
                {
                        <tr>
<<<<<<< HEAD
                            <td width="10%" style="color: white">@obj.Mother_Board</td>
                            <td width="10%" style="color: white">@obj.SSD</td>
                            <td width="10%" style="color: white">@obj.HDD</td>
                            <td width="10%" style="color: white">@obj.RAM</td>
                            <td width="15%" style="color: white">@obj.CPU</td>
                            <td width="15%" style="color: white">@obj.GPU</td>
                            <td width="20%" style="color: white">@obj.Sound_Card</td>
                            <td width="15%" style="color: white">@obj.WWAN_Card</td>
                            <td width="20%" style="color: white">@obj.Computer_Case</td>
                            <td width="10%" style="color: white">@obj.Price</td>
=======
                            <td width="5%" style="color:white">@(obj.Configuration_Id-1)</td>
                            <td width="10%" style="color:white">@obj.CPU</td>
                            <td width="10%" style="color:white">@obj.GPU</td>
                            <td width="10%" style="color:white">@obj.RAM</td>
                            <td width="10%" style="color:white">@obj.HDD</td>
                            <td width="10%" style="color:white">@obj.SSD</td>
                            <td width="10%" style="color:white">@obj.Mother_Board</td>
                            @if(Logged.IsAdmin == true)
                    {
                        <td>
                            <div class="w-75 btn-group" role="group">
                                <a asp-controller="Category" asp-route-Id="@obj.Configuration_Id" asp-action="Edit" class="btn btn-primary mx-2">
                                    <i class="fas fa-edit"></i>
                                    Edit
                                </a>
                                <a asp-controller="Category" asp-route-Id="@obj.Configuration_Id" asp-action="Delete" class="btn btn-danger mx-2">
                                    <i class="far fa-trash-alt"></i>
                                    Create
                                </a>
                            </div>
                        </td>
                    }
                            
>>>>>>> 9fa8b074ccaae3bc6d8f9b836f2ed453aed2fd39
                        </tr>
                }
                    </tbody>
                </table>
            }
            else
            {
                <p>Изчерпани са количествата</p>
            }
</div>

